body {
  padding: 3%;
  background: #141414;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  color: #f0ac09;
  text-shadow: 3px 2px #555555;
}

h4,
h6 {
  color: #f0ac09;
}

h6 {
  font-size: larger;
}

@media print {
  body {
    margin: 0;
    background-color: transparent;
  }
}
